@import "tailwindcss";
@reference "./global.css";

.bs-btn {

  @apply
    active:translate-y-[1px]
    active:bg-card
    bg-primary
    duration-200
    focus-visible:outline-none
    focus-visible:ring-2
    focus-visible:ring-white/75
    font-semibold
    px-5
    py-4
    rounded-md
    text-white
    text-center
    transition-all
    relative
    overflow-clip
    before:flex
    before:inset-0
    before:bg-white
    before:rounded-sm
    before:absolute
    before:opacity-0
    before:-translate-x-full
    before:transition-all
    before:duration-300
    before:ease-out
    hover:before:translate-x-0
    hover:before:opacity-10
    active:before:opacity-0
    ;
}