name: Deploy Website
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ai.fastpanel.xpage.dev
          username: fastuser
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            export PATH=$HOME/.local/bin:$PATH:$HOME/.nvm/versions/node/$(node -v)/bin
            cd ~/site
            
            # СБРОСИТЬ ВСЕ ЛОКАЛЬНЫЕ ИЗМЕНЕНИЯ И ПОДТЯНУТЬ НОВЫЕ
            git fetch --all
            git reset --hard origin/main
            
            pnpm install
            pnpm --filter web build
            
            export KEYSTATIC_GITHUB_CLIENT_ID=Iv23lifqBojRYH3rs170
            export KEYSTATIC_GITHUB_CLIENT_SECRET=243ec8a65f80826917a4cd4cd8a365cc7989c07e
            export KEYSTATIC_SECRET=basket_tournament_secret_key_2026
            export HOST=127.0.0.1
            export PORT=4321
            pm2 delete basket-site || true
            pm2 start apps/web/dist/server/entry.mjs --name basket-site
